.i0{
padding-top:2%;
padding-left:28%;
color:white;
font-size:300%;
font-family: Georgia, serif;
}
.a2{
background-color:088f7f;
height:40%;
color:white;
padding-top:2%;
font-size:23px;
padding-left:0%;
text-align:center;
}
.i00{
padding-top:2%;
padding-left:28%;
color:white;
font-size:300%;
font-family: Georgia, serif;
}
.sam{
width:150%;

padding-left:70%;
}

.a1{
height:60%;
margin-left:0px;
margin-right:0px;
background-image:url('https://us.123rf.com/450wm/rokvel/rokvel1610/rokvel161000934/64309837-grunge-background-in-pink-and-white-color-abstract-pink-background-white-spot-top-with-gradient-purp.jpg?ver=6');
}

.saam{
width:24%;
padding-top:2%; 
padding-left:20%

}
.sky{
padding-top:2%; 
padding-left:20%
}
.options-container {
    background: #fff;
    border: 1px solid #e9e8e8;
    padding: 20px;
	}
	.orange {
    color: #ff8401;
}
.disclaimer {
    line-height: 1;
    text-align: center;
    margin-top: 15px;
}
.option {
    background: #fff;
    border: 1px solid #e9e8e8;
    padding: 20px;
	}
	
.divider {
    color: #000;
    font-family: "proxima-nova",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.66;
	}
	.i4{
font-family: Georgia, serif;
padding-left:5%;
padding-right:5%;
padding-top:2%;
text-align:center;
}

.i5{
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
padding-left:10%;
padding-right:10%;
padding-top:2%;
line-height: 1.6;
text-align:center;
}
.i6{
background-color:CACCCE; 
height:65%;

}

.a711{
margin-top:12%;
margin-left:49%;
height:80px;
width:85px;
}
.oppo{
text-align:center;
color:black;
padding-top:3%;
font-size:180%;
}

.coos{
background-color:white;
width:25%;
height:65%;
margin-left:16%;
margin-top:2%;
}
.cooss{
background-color:white;
margin-left:14%;
width:25%;
height:65%;
margin-top:2%;
}
.mi{
margin-left:40%;
}
.i65{
background-color:white; 
height:70%;

}

.coas{


margin-left:5%;
margin-top:3%;
}
.mi1{
margin-left:34%;
width:38%;
height:30%;
}
.i55{
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
padding-left:15%;
padding-right:10%;
padding-top:2%;
line-height: 1.6;
text-align:center;
padding-top:5%;
}


